<p>Bikes-create works!</p>
<div>
    <form [formGroup]="formSearchBike" (ngSubmit)="searchBike()">

        <label for="">Buscador</label>
        <input type="text" formControlName="serial" (blur)="searchBike()">

        <p-autoComplete 
        formControlName="serial" 
        [suggestions]="results" 
        (completeMethod)="search($event)"></p-autoComplete>

        <button type="submit">Buscar</button>
    </form>

    <p *ngIf="bike" >{{bike | json}}</p>

    <p *ngIf="statusSearchSerial" class="alert" >La bicicleta no se encuentra con este número de serial</p>
</div>
<hr>
<br>
<form [formGroup]="bikeFormGroup" novalidate (ngSubmit)="saveBike()">

    <label for="">Estado</label>

    <p-inputSwitch name="estado"  (onChange)="changeInputSwitch($event)"  formControlName="status"></p-inputSwitch>
<select type="text" formControlName="status" (change)="changeSelect()" >
    <option value="---">----</option>
    <option value="0">Inactivo</option>
    <option value="1">Activo</option>
</select>


    <div>
        <label for="">Model</label>
        <input type="text" formControlName="model" name="model">
        <div *ngIf="bikeFormGroup.get('model').invalid && 
        (bikeFormGroup.get('model').dirty || bikeFormGroup.get('model').touched)  ">
            <div *ngIf="bikeFormGroup.get('model').errors.required">
                <p class="error-validate">El campo es requerido</p>
            </div>
            <div *ngIf="bikeFormGroup.get('model').errors.maxlength">
                <p class="error-validate">El campo debe contener máximo 4 caracteres</p>
            </div>
        </div>

    </div>

    <div>
        <label for="">Price</label>
        <input type="text" formControlName="price" name="price">
    </div>

    <div>
        <label for="">Serial</label>
        <input type="text" formControlName="serial" name="serial">
    </div>

    <button type="submit" [disabled]="bikeFormGroup.invalid">Guardar</button>
</form>