<h1>UPDATE</h1>
<form [formGroup]="BikeFormGroup"  novalidate (ngSubmit)="saveBike()" >

    <div>
        <label for="">Model</label>
        <input type="text" formControlName="model" name="model"  >
        <div *ngIf="BikeFormGroup.get('model').invalid && 
        (BikeFormGroup.get('model').dirty || BikeFormGroup.get('model').touched)  ">
            <div *ngIf="BikeFormGroup.get('model').errors.required" >
                <p class="error-validate">El campo es requerido</p>
            </div>
            <div *ngIf="BikeFormGroup.get('model').errors.maxlength" >
                <p class="error-validate">El campo debe contener máximo 4 caracteres</p>
            </div>
        </div>
    
    </div>

    <div>
        <label for="">Price</label>
        <input type="text" formControlName="price" name="price"  >
    </div>

    <div>
        <label for="">Serial</label>
        <input type="text" formControlName="serial" name="serial"  >
    </div>

    <button type="submit" [disabled]="BikeFormGroup.invalid" >Update</button>
</form>