<h2>Clients</h2>
<form [formGroup]="searchForm">

    <!-- input type="text" autocomplete="off" formControlName="document" (keyup)="searchClient()" name="document" -->
    <br>

    <p-autoComplete 
            formControlName="document"
            field="clientName" 
            [suggestions]="clientsList" 
            (onSelect)="selectedClient($event)"
            (completeMethod)="searchClient($event)">
            <ng-template let-brand pTemplate="item">
                <div >
                    <div>{{brand.clientName}}</div>
                </div>
            </ng-template>

            <ng-template let-value pTemplate="selectedItem">
                <span >{{value.clientName}}</span>
            </ng-template>
    </p-autoComplete>


</form>
<hr>

<h2>Catálogo</h2>
<table class="table table-light" border="1">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Model</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let bike of bikesList">
            <td>{{bike.id}}</td>
            <td>{{bike.model}}</td>
            <td>{{bike.price}}</td>
            <td>{{bike.serial}}</td>
            <td>

                <button (click)="addToCar(bike)">Agregar al carrito</button>

            </td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="initPagination(i)" *ngFor="let item of listPages; index as i" >{{i+1}}</button>
</div>

<h3>CAR</h3>
<table class="table table-light" border="1">
    <thead class="thead-light">
        <tr>
            <th>Serial</th>
            <th>Model</th>
            <th>Price</th>
            <th>Client ID</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of salesListCar">
            <td>{{item.bikeSerial}}</td>
            <td>{{item.bike.model}}</td>
            <td>{{item.bike.price}}</td>
            <td>{{item.clientId}}</td>
        </tr>
    </tbody>

</table>
<button (click)="confirmSale()">Confirmar</button>