<p>Bikes-list works!</p>
<h1>Bikes List</h1>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
        <form [formGroup]="filterForm" (ngSubmit)="loadFilterEvent()">
            <div class="form-group">
                <label for="">Model</label>
                <input type="text" class="form-control" name="" id="" formControlName="model" aria-describedby="helpId"
                    placeholder="">
            </div>
            <div class="form-group">
                <label for="">Serial</label>
                <input type="text" class="form-control" name="" id="" formControlName="serial" aria-describedby="helpId"
                    placeholder="">
                
            </div>

            <p-calendar formControlName="createDate" dateFormat="yy/mm/dd" ></p-calendar>
            <button  type="submit">Filtrar</button>
        </form>
        
    </div>

</div>
<table  class="table table-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Price</th>
            <th>Serial</th>
            <th>Action</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.bikesList">
            <td>{{ item.id }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.serial }}</td>
            <td>
                <a [routerLink]="['../bikes-update',item.id]" routerLinkActive="router-link-active" >Update</a>
                <button (click)="deleteItem(item.id)" >Eliminar</button>
            
            </td>
        </tr>
    </tbody>
</table>
<hr>
<div>
    <button (click)="initPagination(i)" *ngFor="let item of listPages; index as i" >{{i+1}}</button>
</div>