<h1>Hello Header</h1>

<a [routerLink]="['bikes/bikes-list']" >Bikes List</a> <br>       
<a [routerLink]="['bikes/bikes-create']" >Bikes Create</a> <br> 
<a [routerLink]="['bikes/bikes-update']" >Bikes Update</a> <br> 
<a [routerLink]="['bikes/bikes-view']" >Bikes View</a> <br> 

<a [routerLink]="['sales']" >Catálogo</a> <br> 
