<hr>
<div class="row">
    <h4>MENU</h4>
    <div class="col-lg-2">
        <a [routerLink]="['../sales']" >Catalogo</a>
        <a [routerLink]="['../sales/sales-list']" >Ventas</a>
        <a [routerLink]="['../sales/sales-list']" >Proveedores</a>
        <a [routerLink]="['../sales/sales-list']" >Reportes</a>
        <a [routerLink]="['../sales/sales-list']" >Productos</a>

    </div>
    <div class="col-lg-10">

        <router-outlet></router-outlet>

    </div>
</div>