<app-navbar></app-navbar>
<div class="container-fluid">
<div class="row">
    <div class="col-lg-2">
        <nav>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
              </ul>
        </nav>
    </div>
    <div class="col-lg-10">
        <router-outlet></router-outlet>
    </div>
</div>    
</div>